$main-color: blue;
$breakpoint: 550px;


html,
body {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  max-width: 100%;
  width: 100%;
  color: rgb(37, 37, 37)
}

button {
  background-color: transparent;
  display: block;
  margin: 0 auto;
  height: 3rem;
  width: 6rem;
  border: 0.075rem solid #274c77;
  color: #274c77;
  border-radius: 0.25rem;
  padding: 0.1rem 0.25rem;
  transition: 0.3s;
}

button:hover {
  background-color: #274c77;
  border: 0.1rem solid #a3cef1;
  color: #a3cef1;
}

p {
  margin-bottom: 0.1rem;
}

.resField {
  font-weight: 100;
  border: 0.05rem solid rgb(48, 48, 48);
  border-radius: 0.25rem;
  padding: 0.1rem 0.25rem;
  line-height: 1.2;
  white-space: pre-line;
  overflow-x: hidden;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #274c77;
  border-bottom: 0.75rem solid #668197;
}

.applicationHeading {
  font-size: 3rem;
  color: #dd8928;
  font-weight: 900;
  text-align: center;
}

h5 {
  margin: 5px 0;
}

div {
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

label.blck-label {
  display: block;
}


div.radio {
  margin-top: 0;
  position: relative;
  left: 1rem;
}

input {
  @media screen and(max-width: $breakpoint) {
    line-height: 22px;
  }
}


.topMes {
  font-weight: 100;
}


#firstName,
#lastName,
#userEmail {
  width: 100%;
}

#userCity,
#userState,
#userZipcode,
#userTelephone {
  width: 100%;
}

#userAddress {
  width: 100%;
}


#multiselectWrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

#job-select {
  margin-left: 0.5rem;
}

#selectOptions {
  margin: 0.75rem 0;
}

label {
  margin: 0.25rem 0;
}